<!DOCTYPE html>
<html>
<head>
<script src="https://kit.fontawesome.com/c2fab208e8.js" crossorigin="anonymous"></script>
<title>PS2 2021</title>
</head>
<body style = "background-color:#02182B;">
<h1 style="text-align:center; font-size:300%; color:#0197F6; position:relative; top:150px;">Proiect Sincretic 2 Nanu 2021</h1>

<div style="font-size: 24px;">
<a href="{{ url_for('message') }}"><i class="fas fa-envelope fa-3x" style="color:#D7263D; position: fixed; bottom: 216px; left: 256px;"></i></a>
<a href="{{ url_for('led') }}"><i class="fas fa-lightbulb fa-3x" style="color:#D7263D; position: fixed; bottom: 216px; left: 512px;"></i></a>
<a href="{{ url_for('rgb') }}"><i class="fas fa-palette fa-3x" style="color:#D7263D; position: fixed; bottom: 216px; left: 730px;"></i></a>
<a href="{{ url_for('temperature') }}"><i class="fas fa-temperature-high fa-3x" style="color:#D7263D; position: fixed; bottom: 216px; right: 512px"></i></a>
<a href="{{ url_for('timetable') }}"><i class="fas fa-calendar-alt fa-3x" style="color:#D7263D; position: fixed; bottom: 216px; right: 256px;"></i></a>
</div>

</body>
</html> 


<!-- 
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></a>
-->