<!DOCTYPE html>
<html>
<head>
<title>Led Control</title>

<style> 
input[type=submit]{
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align:center; 
  position:fixed; 
  bottom:150px;
}
</style>

</head>
<body style="background-color:#02182B;">
<p style="text-align:center; font-size:300%; color:#0197F6; position:relative; top:150px;">Led control using buttons:</p>
<form action="#" method="post">
<input type="submit" name="led_on" value="Led ON" style="left: 600px;background-color: #4CAF50;">
<input type="submit" name="led_off" value="Led OFF" style="right: 600px;background-color: #D2222D;">
</form>
</body>
</html>

<!-- 

-->